body{
    margin:0;
}
ul li{
 list-style: none;
 display: inline;
 margin-right: 20px;
 text-align: center;
}
ul{
    margin:0 0;
    padding-left: 35%;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: black;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:gray;
    
}
.container img{
    width: 100%;
    height: 650px;
    
}
.container {
    position: relative;
    text-align: center;
    color: white;
    font-weight:900;

  }
  .centered {
    
    position: absolute;
    top: 45%;
    left:50%; 
    transform: translate(-50%, -160%);
  }
.centered h2{
    margin-bottom: 0;
    font-family: 'BioRhyme', serif;
    letter-spacing: 1.5px;
}
.centered p{
    
    font-size: 15px;
}
.main-text h2{
    text-align: center;
    font-weight: normal;
    padding: 0 25%;
    line-height: 1.5;
       
} 
.main-text{
    margin:5% 0;
}
.next-text{
    text-align: center;
    padding-right: 250px;
    padding-left: 250px;
    color: gray;
    line-height: 1.5;
    margin: 3% 0;
    
}
.showcase-image{
    display: inline;
    margin-right: 35px;
}
.showcase{
    margin-top: 70px;
    text-align: center;
    margin-bottom: 50px;

}
img{
    width: 20%;
    
}
@media (max-width:768px) 
{

nav ul{
    padding-left: 13%;
    font-size: 0.8em;
}
.centered{
    
    margin-top: 50px;    
}
.centered h2{
    font-size: 1.3em;   
}
.centered p{
    margin-top: 5px;
    font-size: 0.8em;
}
.container img{
    height: 75%;
}
.main-text {
    margin-top: 50px;
    text-align: center;
    font-size: 0.7em;
    padding: 0 30px;
    line-height: 1.5;

}
.main-text h2{
    padding:0 0;
}

.next-text{

    padding: 0 55px;
    margin-top: 50px;
    text-align: justify;
}

.showcase-image{
    display: block;
    margin-bottom: 30px;

}
img{
    width:50%

}
}
 /* moblie responsive */
@media(max-width:430px){
ul li{
        margin-right: 12px;
}
nav ul{
        padding-left: 10%;
    }
.centered{
    margin-top: 68px;
}
.centered p{
    font-size: 0.7em;

}
.main-text h2{
    text-align: justify;
}
.next-text p {
    text-align: justify;
}

}

